<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:soa="http://www.lakala.com/schema/soa"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:annotation-config/>
    
	<context:component-scan base-package="com.spring.*"/> 
	
	<!-- 定时器配置 -->
	<!--
	出现过得问题：
	<import resource="spring/ctx_job.xml" />
	java.io.FileNotFoundException: D:\eclipse_workgroup_github\SpringExampleProject\target\classes\spring\spring\ctx_job.xml (系统找不到指定的路径。)
	 -->
	<import resource="ctx_job.xml" />
	
</beans>